body {
    margin: 0%;
}
/*Aqui van los tamaños de las letritas*/
h1 {
    font-size: 50px;
    color: skyblue;
}

.h1_mv {
    width: 100%;
    text-align: center;
    padding: 30px;
}

.Texto_valor {
    width: 100%;
    text-align: center;
    padding: 30px;
}

h2 {
    color: aqua;
    font-size: 50px;
}

p {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.Eslogan_p {
    color: white;
}
/*Aqui esta el header de nosotros bla bla*/
.Nosotros_main {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Aqui esta el parrafo*/
.Texto_Sobre_Nosotros {
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor_href {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.baul_href {
    width: 25%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.fa-solid {
    color: skyblue;
    font-size: 100px;
}

.Texto_mision {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
